{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "singleAttributePerLine": false
      }
    }
  ]
}
